dev/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.pytest_cache/ export-ignore
__pycache__/ export-ignore
*.pyc export-ignore
test_data/dummy_antismash.json export-ignore
tests/ export-ignore
make_release.sh export-ignore
