/* Entire page layout using Flexbox */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EDF2F4;
    font-family: "Courier New", "Lucida Console", monospace;
}

/* New wrapper to flexibly contain header, layout, and footer */
#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

/* Growable content area: table and plot */
#reportLayout {
    display: flex;
    gap: 0px;
    flex: 1; /* Takes up remaining vertical space */
}

#reportLayout > div {
    flex: 1;
}

/* Table styling (unchanged) */
h1 {
    color: #333;
    text-align: left;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #878686;
    padding: 8px;
    text-align: left;
}

td {
    background-color: #f8f9fa;
}

th {
    background-color: #bdd1db;
}

/* Table style - rows */
.extended-row {
    display: none;
}

.extended-btn-wrapper {
    margin-top: 10px;
}


/*Heatmap style*/
.heatmap-controls {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.heatmap-legend-labels {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

/* Barplot */
.barplot-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 6px 0 10px 0;
  font-size: 14px;
}



/* Sticky footer */
#footer {
    border-top: 1px solid #333;
    padding-top: 0px;
    font-size: 15px;
    text-align: left;
}

